
<%= render partial: 'employees/form' %>
<%# <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %>
<button><%= link_to 'DELETE', employee_path(@employee), method: :delete, data: { confirm: 'Are you sure?' } %></button>
