<h1>Welcome to the Dunder Mifflin Pet Show</h1>
<h3><%= link_to 'Create a New employee', new_employee_path %></h3>
<% @employees.each do |employee| %>

<li><%= link_to employee.full_name, employee_path(employee) %>
<% end %>
<br>

